ipykernel
numpy
pandas
matplotlib
seaborn
flask
memory_profiler
streamlit
scikit-learn
plotly
plotly-express
plotly
statsmodels
scikit-learn
xgboost
langchain-astradb
langchain
langchain-community 
langchain-groq
datasets
pypdf
python-dotenv